
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/appdb"

MY_EXPRESS_SECRET=changez_moi_par_un_secret_aleatoire_long_et_unique
SUPABASE_JWT_SECRET=changez_moi_aussi_si_vous_utilisez_google_auth
JWT_EXPIRES_IN=2h

BCRYPT_SALT_ROUNDS=12
PORT=3000

SUPABASE_URL="https://traxencivethxfjyhdow.supabase.co"
SUPABASE_ANON_KEY="sb_publishable_xJPMaK9EtVYUQqpl1tQeGg_iMrdG0g8"

