# Variables de PostgreSQL
DB_USER=votre_utilisateur_db
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nom_de_votre_base_de_donnees

# Prisma URL
# Remplacez les valeurs par celles de vos variables PostgreSQL ci-dessus
DATABASE_URL="postgresql://votre_utilisateur_db:votre_mot_de_passe@localhost:5432/nom_de_votre_base_de_donnees?schema=public"

# Port for the Express server
PORT=3000

# Supabase configuration
SUPABASE_URL=https://traxencivethxfjyhdow.supabase.co
SUPABASE_ANON_KEY=sb_publishable_xJPMaK9EtVYUQqpl1tQeGg_iMrdG0g8

# Token configuration
JWT_EXPIRES_IN=2h
JWT_SECRET="super_secret_cle_ensa_projet_integration_2026"