# --- DOCKER CONFIGURATION ---
# Pour switcher : 
# Dev: docker-compose.yml:docker-compose.dev.yml
# Prod: docker-compose.yml:docker-compose.prod.yml
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml