# --- DOCKER CONFIGURATION ---
# Pour switcher : 
# Dev: docker-compose.yml:docker-compose.dev.yml
# Prod: docker-compose.yml:docker-compose.prod.yml
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml

# Keycloak local/dev admin account
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=change_me_keycloak_admin_password