@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: 'Norman';
  src: url('../fonts/fonnts.com-Norman-.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Norman_Stencil';
  src: url('../fonts/fonnts.com-Norman-Stencil-.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Colors */
  --color-primary: #100904;
  --color-primary-rgb: 16, 9, 4;
  --color-primary-surface: #282421;
  --color-primary-hover: #413e3c;
  --color-secondary: #ec6c0f;
  --color-secondary-rgb: 236, 108, 15;
  --color-background: #f4f3ef;
  --color-background-rgb: 244, 243, 239;
  --color-surface: #e8e6de;
  --color-surface-rgb: 232, 230, 222;
  --color-error: #bd1f1e;
  --color-success: #23a279;

  /* Typography */
    /* Fonts */
  --font-ui: 'Inter', sans-serif;
  --font-display: 'Norman', serif;
  --font-stencil: 'Norman_Stencil', serif;
    /* size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
    /* weights */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Shadows */
  --shadow-sm: 0 2px 6px rgba(0,0,0,0.08);
  --shadow-md: 0 4px 12px rgba(0,0,0,0.12);

  /* Transition */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}
